@media (max-width: 1200px) {
    .consultation {
        .title, &__descr, .feed-form {
            margin-left: 125px;
        }
        .title {
            font-size: 33px;
        }
    }

    .carousel {
        &__inner {
            .slick-slide {
                img {
                    margin: 0 auto;
                    width: 80%;
                }
            }

            .slick-prev {
                left: -30px;
                
            }
            .slick-next {
                right: -30px;
            }
        }
    }

    .reviews {
        &__person {
            width: 650px;
        }

        &__img {
            margin-left: 30px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        .header {
            margin: 0 30px;
        }
        &__header, &__subheader, &__icons, &__link {
            margin-right: 30px;
        }
        .button_main {
            margin-right: 30px;
        }
    }
    .advantages {
        &__icons {
            align-items: center;
            flex-direction: column;
            margin-top: 40px;
        }
        &__text {
            margin-bottom: 25px;
        }
        &__icon {
            img {
                margin-bottom: 20px;
            }
        }
    }

    .consultation {
        .title, &__descr, .feed-form {
            margin: 0 auto;
        }
        br {
            display: none;
        }
        &__descr {
            margin-bottom: 30px;
            width: 300px;
            text-align: center;
            font-size: 20px;
        }
        .title {
            &_left {
                font-size: 24px;
                width: 500px;
                font-size: 30px;
                line-height: 50px;
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }

    .carousel {
        &__inner {
            .slick-slide {
                img {
                    width: 65%;
                }
            }
            .slick-prev {
                left: 30px;
                
            }
            .slick-next {
                right: 30px;
            }
        }
    }

    .catalogue {
        &__tabs {
            margin-top: 60px;
        }
        &__tab {
            width: 190px;
        }
    }

    .reviews {
        &__person {
            width: 470px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        .header {
            &__official {
                display: none;
            }
            &__phone {
                font-size: 16px;
            }
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            width: 350px;
        }
    }
    .consultation {
        .title, &__descr, .feed-form {
            margin: 0 auto;
        }
        br {
            display: none;
        }
        &__descr {
            margin-bottom: 30px;
            width: 300px;
            text-align: center;
        }
        .title {
            &_left {
                width: 400px;
                font-size: 20px;
                line-height: 40px;
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 100%;
        }
    }

    .catalogue {
        &__tabs {
            margin-top: 50px;
        }
        
        &__tab {
            width: 150px;
            font-size: 15px;
        }
    }

    .reviews {
        &__block {
            flex-direction: column;
            align-items: center;
        }

        &__img {
            margin: 0;
        }

        &__name {
            text-align: center;
            margin-top: 25px;
        }
        &__marathon {
            text-align: center;
        }

        &__descr {
            margin: 0 auto;
            margin-top: 25px;
            text-align: center;
            line-height: 30px;
            width: 90%;
            br {
                display: none;
            }
        }
    }

    .footer {
        &__info {
            height: 180px;
            width: 320px;
            padding: 25px;
        }

        &__address {
            font-size: 15px;
            margin-bottom: 15px;
        }

        &__phone {
            margin-bottom: 16px;
            font-size: 16px;
        }
    }

}

@media (max-width: 575px) {
    
    .promo {
        .button {
            width: 100px;
            font-size: 9px;
            &_main {
                width: 193px;
                margin: 0 auto;
                margin-top: 50px;
                margin-right: 10px;
                font-size: 12px;
            }
        }
        .header {
            margin: 0 10px;
            &__phone {
                font-size: 11px;
            }
            &__logo {
                img {
                    width: 90%;
                }
            }
        }
        &__header {
            font-size: 25px;
            padding-right: 10px;
        }
        &__subheader {
            font-size: 17px;
            padding-right: 10px;
            margin-top: 0;
        }
        &__header, &__subheader, &__icons, &__link {
            margin-right: 0;
            text-align: center;
        }
        &__icons {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 30px;
        }
        &__icon {
            font-size: 12px;
            width: 95px;
        }
        &__link {
            margin-right: 10px;
        }
    }

    .advantages {
        padding: 60px 0 60px 0;
        .title {
            font-size: 22px;
        }
    }

    .consultation {
        padding-top: 70px;
        &__descr {
            margin-bottom: 30px;
            width: 230px;
            text-align: center;
            font-size: 17px;
        }
        .title {
            &_left {
                width: 230px;
                font-size: 18px;
                text-align: center;
                margin-bottom: 30px;
            }
        }
        .feed-form {
            width: 230px;
            input {
                height: 40px;
            }
        }

        .button {
            &_submit {
                height: 40px;
                font-size: 13px;
            }
        } 
    }

    .carousel {
        &__inner {
            .slick-slide {
                img {
                    width: 65%;
                }
            }
            .slick-prev {
                left: 15px;
                img {
                    height: 33px;
                     width: 20px;
                }
                
            }
            .slick-next {
                right: 15px;
                img {
                    height: 33px;
                     width: 20px;
                }
            }
        }
    }

    .catalogue {
        &__tab {
            width: 86px;
            font-size: 9px;
        }
    }

    .reviews {
        .title {
            font-size: 25px;
        }
        &__descr {
            width: 80%;
            line-height: 25px;
        }

        &__person {
            width: 320px;
        }
    }

    .modal {
        width: 280px;

        .feed-form {
            input {
                width: 200px;
            }
        }

        &__close {
            top: 5px;
            right: 6px;
        }

        .button_submit {
            width: 200px;
        }
    }
    
}